@media only screen and (max-width: 368px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }


    /* Who We Are?? */

    .pic h1{
        height: 10vh;
    }


    /* Our Mission */


    .cardHeadings {
        padding: 5%;
    }

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }


    .mission {
        display: block;
        width: 100%;
    }

    .miss2 img {
        height: auto;
        width: 90vw;
        object-fit: contain;
    }

    .miss2 {
        width: 100%;
        text-align: center;
    }

    .miss1 p {
        width: 100%;
        padding: 20px 20px;
        text-align: justify;
    }




}







@media only screen and (min-width: 368px) and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Our Mission */



    .cardHeadings {
        padding: 5%;
    }

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }


    .mission {
        display: block;
        width: 100%;
    }

    .miss2 img {
        height: auto;
        width: 80vw;
        object-fit: contain;
    }

    .miss2 {
        width: 100%;
        text-align: center;
    }

    .miss1 p {
        width: 100%;
        padding: 20px 30px;
        text-align: justify;
    }

}





@media only screen and (min-width: 768px) and (max-width: 910px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Our Mission */


    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }



    .cardImage {
        height: 35vh;
        width: 100vw;

    }

    .mission {
        display: block;
        width: 100%;
    }

    .miss2 img {
        height: auto;
        width: 73vw;
        object-fit: contain;
    }

    .miss2 {
        width: 100%;
        text-align: center;
    }

    .miss1 p {
        width: 100%;
        padding: 20px 30px;
        text-align: justify;
    }


}




@media only screen and (min-width: 910px) and (max-width: 1050px) {
    .nav {
        padding: 15px 50px;
    }



    /* Our Mission */


    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }

    .mission {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .miss2 img {
        width: 40vw;
        object-fit: contain;
    }


    .miss1 p {
        padding-left: 0%;
    }

}




@media only screen and (min-width: 1050px) and (max-width: 1200px) {
    .nav {
        padding: 15px 100px;
    }
}







/* Dedicated for Our Featured Products Gallery */


@media screen and (max-width: 1278px) {
    .product-horizontal-card {
        width: 300px;
    }
}

@media screen and (max-width: 1038px) {

    .horizontal-product-2 {
        width: 100%;
    }
}

@media screen and (max-width: 1042px) {
    .product-horizontal-card {

        width: 100%;

    }

    .card-product-4 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1061px) {
    .products-section {

        justify-content: space-evenly;
    }
}