@media only screen and (max-width: 368px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }


    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-name {
        font-size: 20px;
    }

    .price {
        font-size: 24px;
    }

    .buy-btn {
        padding: 12px 25px;
        font-size: 14px;
    }


}





@media only screen and (min-width: 368px) and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }


    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-name {
        font-size: 20px;
    }

    .price {
        font-size: 24px;
    }

    .buy-btn {
        padding: 12px 25px;
        font-size: 14px;
    }

    
}






@media only screen and (min-width: 768px) and (max-width: 910px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    
}




@media only screen and (min-width: 910px) and (max-width: 1050px) {
    .nav {
        padding: 15px 50px;
    }


   

}



@media only screen and (min-width: 1050px) and (max-width: 1200px) {
    .nav {
        padding: 15px 100px;
    }
}





@media (max-width: 768px) {
    
}




