@media only screen and (max-width: 368px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Frequently Ask Questions */


    .cardHeadings {
        padding: 5%;
    }

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }

}





@media only screen and (min-width: 368px) and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }


    /* Frequently Ask Questions */

    .cardHeadings {
        padding: 5%;
    }

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }

}






@media only screen and (min-width: 768px) and (max-width: 910px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #2C2C2C;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Frequently Ask Questions */

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }

}




@media only screen and (min-width: 910px) and (max-width: 1050px) {
    .nav {
        padding: 15px 50px;
    }


    /* Frequently Ask Questions */

    .bordercards {
        width: 10%;
        border-top: 2px solid #D4AF76;
        margin: 20px 0;
    }

}



@media only screen and (min-width: 1050px) and (max-width: 1200px) {
    .nav {
        padding: 15px 100px;
    }
}





@media screen and (max-width: 990px) {
    .bottom {
        align-self: flex-start;
    }

    .top{
        padding-bottom: 1%;
    }
}



@media (max-width: 991px) {
    .contact-info {
        max-width: 100%;
    }
}